/* Corps de la page */
body {
  display: block;

  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);

  font-family: var(--ff-sans);
  font-size: 1rem;
  color: var(--color-fg);

}

/* Détails d'un film */
.movie__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: relative;
  width: 90%;
  margin: 2rem auto;

  box-sizing: border-box;
  padding: 2rem;

  font-size: 1.2rem;
  color: var(--color-fg);

  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 1rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

/* En-tête du film */
.movie__details-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  position: relative;
  width: 100%;
}

/* Image du film */
.movie__details-img {
  display: block;

  position: relative;
  width: 100%;
  max-width: 15rem;
  border-radius: 0.5rem;

  box-sizing: border-box;
  background-color: var(--color-gray-light);

  transition: transform 0.3s ease, opacity 0.3s ease;
}

.movie__details-img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Informations du film */
.movie__details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  gap: 1rem;

  font-size: 1rem;
  color: var(--color-gray-light);
}

.movie__details-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-fg);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.movie__details-description {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-gray-light);
}

.movie__details-release,
.movie__details-duration,
.movie__details-rating,
.movie__details-genre,
.movie__details-age {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-gray-light);
}

.movie__details-release strong,
.movie__details-duration strong,
.movie__details-rating strong,
.movie__details-genre strong,
.movie__details-age strong {
  color: var(--color-fg);
}

/* Bande-annonce */
.movie__details-trailer-container {
  display: flex;
  justify-content: center;

  position: relative;
  width: 100%;
}

.movie__details-trailer {
  display: block;

  position: relative;
  width: 100%;
  max-width: 35rem;
  height: 20rem;

  box-sizing: border-box;
  border: none;
  border-radius: 0.5rem;

  background-color: var(--color-gray-dark);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie__details-trailer:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}