/* Corps de la page */
body {
  display: block;

  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);

  font-family: var(--ff-sans);
  font-size: 1rem;
  color: var(--color-fg);

}

/* Détails d'un film */
.movie__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* En-tête du film */
.movie__details-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: relative;
  width: 100%;
}

/* Image du film */
.movie__details-img {
  display: block;

  position: absolute;
  width: 100%;
  max-width: 100%;
  max-height: 60rem;
  border-radius: 0.5rem;
  object-fit: cover;
  box-sizing: border-box;
  background-color: var(--color-gray-light);
  opacity: 0.5;

  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: -1;
}


.movie__details-info {
  display: flex;

  position: relative;
  gap: 1rem;

  font-size: 1rem;
  color: var(--color-gray-light);
}
.movie__details-buttons{
  display: flex;
  gap: 2rem;
}
.movie__details-play{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem 6rem;
  margin-bottom: 2rem;
  color: var(--color-black);
  background-color: var(--txt-ovr-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.movie__details-fav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem 6rem;
  margin-bottom: 2rem;
  color: var(--color-white);
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.movie__details-title {
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-fg);
  z-index: 1000;
  margin-top: 15rem;
}

.movie__details-description {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 40rem;
  color: var(--color-gray-light);
  z-index: 1000;
}

.movie__details-release,
.movie__details-duration,
.movie__details-rating,
.movie__details-genre,
.movie__details-age {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-gray-light);
}

.movie__details-release strong,
.movie__details-duration strong,
.movie__details-rating strong,
.movie__details-genre strong,
.movie__details-age strong {
  color: var(--color-fg);
}

/* Bande-annonce */
.movie__details-trailer-container {
  display: flex;
  justify-content: center;

  position: relative;
  width: 100%;
}

.movie__details-trailer {
  display: block;

  position: relative;
  width: 100%;
  max-width: 35rem;
  height: 20rem;

  box-sizing: border-box;
  border: none;
  border-radius: 0.5rem;

  background-color: var(--color-gray-dark);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie__details-trailer:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}