body{
  background-color: rgb(0, 0, 0);
}
.combo__card{
  display: flex;
  flex-direction: column;
  
}
.movie__card{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 5rem;
}
.movie__img{
  max-width: 15rem;
}
.movie__title{
  color: white;
}