<div class="Menu-Profile">
    <h4 class="Menu-Profile__title"># Ajouter ou modifier un Profil</h4>
    <form class="Menu-Profile__form">
        
       <input id="profile-name" type="text" name="name" placeholder="Nom du profil" required>
        <input id="profile-avatar" type="text" name="avatar" placeholder="Avatar ou image associée (Non obligatoire)" >
        <input id="profile-min-age" type="date" name="date_naissance" placeholder="Restrictions d'âge"  required >
        <input onclick="{{handler}}" class ="addMovie__form-button" type="button" value="Ajouter" name="todo">

    </form>
</div>