body{
  background-color: rgb(255, 255, 255);
}
.movie__details{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5rem;
color : white;
}
.movie__img{
  max-width: 15rem;
}
.movie__title{
  color: rgb(255, 255, 255);
}