<div class="movie__details">
    <div class="movie__header">
        <img class="movie__img" src="../server/images/{{image}}" alt="Image du film">
        <div class="movie__info">
            <h3 class="movie__title">{{name}}</h3>
            <p class="movie__description">{{description}}</p>
            <p class="movie__release"><strong>Date de sortie :</strong> {{release}}</p>
            <p class="movie__duration"><strong>Durée :</strong> {{duration}}</p>
            <p class="movie__rating"><strong>Réalisateur :</strong> {{director}}</p>
            <p class="movie__genre"><strong>Catégorie :</strong> {{categorie}}</p>
            <p class="movie__age"><strong>Âge minimum :</strong> {{age}}</p>
        </div>
    </div>
    <div class="movie__trailer-container">
        <iframe class="movie__trailer" src="{{trailer}}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>