<div class="movie__details">
    <img class="movie__img" src="../server/images/{{image}}"
        alt="Image" >
    <h3 class="movie__title">{{name}}</h3>
    <p class="movie__description">{{description}}</p>
    <p class="movie__release">Date de sortie : {{release}}</p>
    <p class="movie__duration">Durée : {{duration}}</p>
    <p class="movie__rating">Réalisateur : {{director}}</p>
    <p class="movie__genre">catégorie : {{categorie}}</p>
    <p class="movie__rating">age : {{age}}</p>
    <iframe class="movie-trailer" src="{{trailer}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
</div>
