<h2>Recherche de films</h2>
<form class="movie-search__form">
  <input
    class="movie-search__recherche"
    required
    type="text"
    name="name"
    id="profile-search"
    placeholder="Rechercher un film"
    onkeyup="{{handlerRechercher}}"
  />
  <input id="profile-name-search" class="menu-profile__input" type="text" name="name" placeholder="Nom du Film" required>
  <input id="profile-categorie-search" class="menu-profile__input" type="text" name="categorie" placeholder="Categorie">
  <input id="profile-min-annee-search" class="menu-profile__input" type="text" name="annee" placeholder="Annee" required>
  </form>